# .env file to set up your docker-compose project

SUBSPACE_IPV4_NETWORK="10.99.97"
SUBSPACE_IPV6_NETWORK="fd00::10:97:"
SUBSPACE_HTTP_HOST=subspace.example.com
SUBSPACE_HTTP_ADDR=0.0.0.0:80
SUBSPACE_LETSENCRYPT=true
SUBSPACE_HTTP_INSECURE=false
SUBSPACE_DNSMASQ_DISABLED=1
SUBSPACE_LISTENPORT=51820
SUBSPACE_NAMESERVER=1.1.1.1
SUBSPACE_IPV6_NAT_ENABLED=0
DNSCRYPT_PORT=53
TOR_LOCATION=UK
TOR_DNS_PORT=53

